In [1]:
import pandas as pd

In [2]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Adam'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Doe'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', 'A@email.com']
}

In [3]:
df_people = pd.DataFrame(people)

In [4]:
df_people

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [5]:
df_people.sort_values(by='last')

   first     last                    email
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [6]:
df_people.sort_values(by='last', ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [9]:
df_people.sort_values(by=['last', 'first'], ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com
3   Adam      Doe              A@email.com

In [10]:
df_people.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)

In [11]:
df_people

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe              A@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [12]:
df_people.sort_index()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [17]:
df_people['last'].sort_values()

3        Doe
1        Doe
2        Doe
0    Schafer
Name: last, dtype: object

# Using Servey File

In [18]:
df = pd.read_csv('survey_results_public.csv')

In [19]:
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [20]:
df = df.sort_values(by='Country')

In [23]:
df[['Country', 'ConvertedComp']].head(50)

           Country  ConvertedComp
39018  Afghanistan        19152.0
62723  Afghanistan      1000000.0
85185  Afghanistan            NaN
50437  Afghanistan            NaN
88340  Afghanistan            NaN
88735  Afghanistan            NaN
6391   Afghanistan            NaN
39754  Afghanistan            NaN
88181  Afghanistan            NaN
48122  Afghanistan         4464.0
10697  Afghanistan         3996.0
62124  Afghanistan            NaN
49377  Afghanistan            NaN
32971  Afghanistan            NaN
60559  Afghanistan            NaN
85827  Afghanistan            NaN
88033  Afghanistan            NaN
28470  Afghanistan            0.0
719    Afghanistan            0.0
26189  Afghanistan            NaN
86394  Afghanistan            NaN
85293  Afghanistan            NaN
7056   Afghanistan        14364.0
7323   Afghanistan            NaN
86551  Afghanistan            NaN
58390  Afghanistan            NaN
73920  Afghanistan            NaN
28877  Afghanistan            NaN
51525  Afghanistan            NaN
45562  Afghanistan            NaN
46807  Afghanistan            NaN
44123  Afghanistan            NaN
22327  Afghanistan         7980.0
8112   Afghanistan         1596.0
80423  Afghanistan            NaN
59184  Afghanistan            NaN
60185  Afghanistan            NaN
37571  Afghanistan            NaN
29560  Afghanistan         1116.0
42832  Afghanistan            NaN
12253  Afghanistan            NaN
58082  Afghanistan        17556.0
61770  Afghanistan            NaN
50172  Afghanistan       153216.0
78326      Albania         4968.0
57057      Albania            NaN
49431      Albania            NaN
41344      Albania            NaN
33177      Albania            NaN
6688       Albania        60000.0

In [24]:
df = df.sort_values(by=['Country', 'ConvertedComp'], ascending=[True, False])

In [27]:
df[['Country', 'ConvertedComp']].head(50)

           Country  ConvertedComp
62723  Afghanistan      1000000.0
50172  Afghanistan       153216.0
39018  Afghanistan        19152.0
58082  Afghanistan        17556.0
7056   Afghanistan        14364.0
22327  Afghanistan         7980.0
48122  Afghanistan         4464.0
10697  Afghanistan         3996.0
8112   Afghanistan         1596.0
29560  Afghanistan         1116.0
28470  Afghanistan            0.0
719    Afghanistan            0.0
85185  Afghanistan            NaN
50437  Afghanistan            NaN
88340  Afghanistan            NaN
88735  Afghanistan            NaN
6391   Afghanistan            NaN
39754  Afghanistan            NaN
88181  Afghanistan            NaN
62124  Afghanistan            NaN
49377  Afghanistan            NaN
32971  Afghanistan            NaN
60559  Afghanistan            NaN
85827  Afghanistan            NaN
88033  Afghanistan            NaN
26189  Afghanistan            NaN
86394  Afghanistan            NaN
85293  Afghanistan            NaN
7323   Afghanistan            NaN
86551  Afghanistan            NaN
58390  Afghanistan            NaN
73920  Afghanistan            NaN
28877  Afghanistan            NaN
51525  Afghanistan            NaN
45562  Afghanistan            NaN
46807  Afghanistan            NaN
44123  Afghanistan            NaN
80423  Afghanistan            NaN
59184  Afghanistan            NaN
60185  Afghanistan            NaN
37571  Afghanistan            NaN
42832  Afghanistan            NaN
12253  Afghanistan            NaN
61770  Afghanistan            NaN
38075      Albania       187668.0
3771       Albania       114550.0
9230       Albania        74474.0
6688       Albania        60000.0
10257      Albania        57300.0
65859      Albania        41244.0

In [32]:
df['ConvertedComp'].nlargest(1000)

25833    2000000.0
87353    2000000.0
21895    2000000.0
28080    2000000.0
72274    2000000.0
           ...
61269    1200000.0
63544    1200000.0
51150    1200000.0
57992    1200000.0
72042    1200000.0
Name: ConvertedComp, Length: 1000, dtype: float64

In [33]:
df.nlargest(1000, 'ConvertedComp')

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
25833,25983,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
87353,87896,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,32.0,Man,No,Gay or Lesbian,White or of European descent,No,Appropriate in length,Neither easy nor difficult
21895,22013,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,India,No,"Professional degree (JD, MD, etc.)","A natural science (ex. biology, chemistry, phy...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Easy
28080,28243,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,A lot less welcome now than last year,Tech meetups or events in your area,NaN,NaN,NaN,Straight / Heterosexual,NaN,Yes,Too short,Easy
72274,72732,"I am not primarily a developer, but I write co...",No,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",NaN,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot less welcome now than last year,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,Yes,Too long,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61269,61661,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,28.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
63544,63951,I am a developer by profession,No,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers,36.0,Man,No,Gay or Lesbian,White or of European descent,No,Appropriate in length,Easy
51150,51481,I am a developer by profession,No,Less than once per year,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A social science (ex. anthropology, psychology...",...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,30.0,"Non-binary, genderqueer, or gender non-conforming",Yes,Bisexual;Gay or Lesbian,White or of European descent,No,Appropriate in length,Easy
57992,58360,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers,25.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
72042,72500,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,NaN,29.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Neither easy nor difficult